/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
	&kp ESC   &kp Q &kp W 	 &kp F 	 &kp P 	 &kp B                                                		&kp J 	 &kp L  &kp U     &kp Y   &kp ;    	&kp DEL
	&kp TAB   &kp A &kp R 	 &kp S 	 &kp T 	 &kp G                                                		&kp M 	 &kp N  &kp E     &kp I   &kp O 	&kp SQT
	&kp LSHFT &kp Z &kp X 	 &kp C 	 &kp D 	 &kp V 	   	&kp LSHFT &kp LSHFT     &kp LSHFT 	&kp LSHFT 	&kp K 	 &kp H  &kp COMMA &kp DOT &kp FSLH 	&kp RCTRL
	                &kp LGUI &kp DEL &kp RET &kp SPACE 	&kp LALT  &kp RET  		&kp SPACE  	&kp SPACE 	&kp BSPC &kp RALT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};
